<style>
    .form {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        /* Inner shadow effect */
    }
</style>
<%-include('header')%>
<div class="container-fluid pt-4 px-4">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-xl-6">
            <div class="form bg-light rounded h-100 p-4">
                <h1 class="mb-4">Add Coupon</h1>

                <form action="/admin/addCoupon" method="post" onsubmit="return validateForm();">
                    
                    <div class="form-group">
                        <label for="couponName" class="form-label">Coupon code</label>
                        <input type="text" class="form-control" name="couponCode" placeholder="Enter Coupon Code"
                            aria-describedby="emailHelp" id="couponName">
                        <small style="color: red;" id="couponNameError"></small>
                    </div>

                    <div class="form-group">
                        <label for="description" class="form-label">Coupon Description</label>
                        <input type="text" class="form-control" name="couponDescription" placeholder="Write Description"
                            id="description">
                        <small style="color: red;" id="descriptionError"></small>
                    </div>

                    <div class="form-group">
                        <label for="discountPercentage" class="form-label">Discount percentage</label>
                        <input type="number" class="form-control" placeholder="Discount percentage"
                            name="discountPercentage" min="1" max="99" step="1" id="discountPercentage">
                        <small style="color: red;" id="discountPercentageError"></small>
                    </div>

                    <div class="form-group">
                        <label for="maxDiscountValue" class="form-label">Max discount Amount</label>
                        <input type="number" class="form-control" placeholder="Enter discount amount"
                            name="maxDiscountAmount" id="maxDiscountValue">
                        <small style="color: red;" id="maxDiscountValueError"></small>
                    </div>

                    <div class="form-group">
                        <label for="minAmount" class="form-label">Min order value</label>
                        <input type="number" class="form-control" placeholder="Enter Min order" name="minOrderValue"
                            min="0" step="1" id="minAmount">
                        <small style="color: red;" id="minAmountError"></small>
                    </div>

                    <div class="form-group">
                        <label for="validity" class="form-label">Valid For</label>
                        <input type="number" class="form-control"
                            placeholder="Number of days for which coupon is valid" name="validFor" min="1" max="180"
                            step="1" id="validity">
                        <small style="color: red;" id="validityError"></small>
                    </div>

                    <div class="form-group mb-3">
                        <label for="activeCoupon">Activate Coupon</label>
                        <select class="form-control" id="activeCoupon" name="activeCoupon">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Coupon</button>
                    <button type="reset" class="btn btn-secondary ml-2">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>

<%-include('footer')%>

<script>
    function validateForm() {
        const couponName = document.getElementById('couponName').value.trim();
        const description = document.getElementById('description').value.trim();
        const discountPercentage = document.getElementById('discountPercentage').value;
        const maxDiscountValue = document.getElementById('maxDiscountValue').value;
        const minAmount = document.getElementById('minAmount').value;
        const validity = document.getElementById('validity').value;
        let isValid = true;

        document.getElementById('couponNameError').textContent = '';
        document.getElementById('descriptionError').textContent = '';
        document.getElementById('discountPercentageError').textContent = '';
        document.getElementById('maxDiscountValueError').textContent = '';
        document.getElementById('minAmountError').textContent = '';
        document.getElementById('validityError').textContent = '';

        // Validate coupon code
        if ( !/^[a-zA-Z0-9]+$/.test(couponName)) {
            document.getElementById('couponNameError').textContent = 'Contain only letters and digits.';
            isValid = false;
        }

        if (couponName.length !== 5) {
            document.getElementById('couponNameError').textContent = 'Coupon code must be 5 characters and';
            isValid = false;
        }
        

        if (couponName === '') {
            document.getElementById('couponNameError').textContent = 'Coupon code is required.';
            isValid = false;
        }

        if (description === '') {
            document.getElementById('descriptionError').textContent = 'Coupon Description is required.';
            isValid = false;
        }

        if (discountPercentage <= 0 || discountPercentage > 99) {
            document.getElementById('discountPercentageError').textContent = 'Discount percentage must be between 1 and 99.';
            isValid = false;
        }

        if (maxDiscountValue === '' || maxDiscountValue <= 0) {
            document.getElementById('maxDiscountValueError').textContent = 'Max discount amount is required and must be greater than 0.';
            isValid = false;
        }

        if (minAmount === '' || minAmount <= 0) {
            document.getElementById('minAmountError').textContent = 'Min order value must be 0 or greater.';
            isValid = false;
        }

        if (validity <= 0 || validity > 180) {
            document.getElementById('validityError').textContent = 'Validity must be between 1 and 180 days.';
            isValid = false;
        }
        

        return isValid;
    }
</script>
