<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

<head>
    <meta charset="utf-8">
    <title>Time Keeper - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/timekeeper3.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-2 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block" style="background-color: rgb(16, 16, 16)">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href=""><img src="assets/imgs/theme/timekeeper5.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <!-- Search bar -->
                        <div style="display: flex; align-items: center; border: 2px solid #ceb97a; border-radius: 25px; width: 300px; position: relative;
                                cursor: pointer; transition: background-color 0.3s;"
                            onmouseover="this.style.backgroundColor='white'; this.style.color='black';"
                            onmouseout="this.style.backgroundColor='black'; this.style.color='white';">
                            <input type="text"
                                style="border: none; outline: none; padding: 10px; flex: 1; background: transparent;"
                                placeholder="Search for items...">
                        </div>
                        <!-- end -->
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2" style="padding-left: 10px;">
                                    <a href="shop-wishlist.html">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/icons/heart.png">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/userCart">
                                        <img alt="Evara" src="assets/imgs/icons/bag2.png">
                                    </a>
                                </div>

                                <div id="loginContainer" style="padding-left: 20px;">
                                    <% if (isAuthenticated===true) { %>
                                        <a href="/logout" class="button-link">
                                            <h4 style="color:#ceb97a;">Logout</h4>
                                        </a>
                                        <% } else { %>
                                            <a href="/login" class="button-link">
                                                <h4 style="color:#ceb97a;">Login</h4>
                                            </a>
                                            <% } %>
                                </div>
                                <!-- //user profile -->
                                <!-- <div class="header-action-icon-2">
                                        <a class="mini-cart-icon" href="shop-cart.html">
                                            <img alt="Evara" src="assets/imgs/theme/icons/user1.png">                              
                                        </a>
                                        </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active open" href="#" style="color:black">
                                <span class="fi-rs-apps"></span> NEXT GeneratioN
                            </a>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active" href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>                                                              
                                    <li>
                                        <a href="page-about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="/userAccount">Account</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
    </header>